@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: content-box;
}

.Logos {
    display: flex;
    background-color: rgb(20, 129, 154);
    flex-direction: row;
    justify-content: space-around;
}

.social-media {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75px;
    height: 75px;
}

body {
    background: lightblue;

    h1 {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
}


.titulos {
    display: flex;
    justify-content: center;
    padding-top: 2.5%;
}

.apresentacao {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    padding: 2.5%;
    border-bottom: 3px solid black;

    p {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        text-align: justify;
    }
}

.profile {
    width: 340px;
    height: 450px;
    border: 5px solid lightgray;
    border-radius: 10px;   
}

.texto-no-meio {
    width: 400px;
}

.gostos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding: 2.5%;
    padding-bottom: 6%;
    border-bottom: 3px solid black;

    p {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        text-align: justify;
    }

    h2 {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;        
    }

    ol {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
}

.listas {
    padding: 1.75%;
    padding-top: 0.75%;
    border: 5px solid gray;
    border-radius: 10px;
    background-color: lightgray;
}

.familia {
    padding: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    p {
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        text-align: justify;
    }
}

.text-family {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.gatitos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    .gabiro {
        width: 240px;
        border: 5px solid lightgray;
        border-radius: 10px;
    }
}

.humanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    .hum {
        width: 250px;
        border: 5px solid lightgray;
        border-radius: 10px;
    }
}

footer {
    background-color: black;
    p {
        color: white;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }
}

.ft-central {
    display: flex;
    justify-content: center;
}

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 2.5%;
}